body{
    margin: 0;
    padding: 0;
    /* background-image: url("background.jpg"); */
    background-image: linear-gradient(45deg, rgba(2, 33, 64, 0.8), rgba(45, 95, 93, 0.8)), url("background.jpg");
    background-size: cover;
    background-position: center ;
    height: 100vh;
    background-attachment: fixed;
}
.box{
    border: 2px solid grey;
    border-radius: 10px;
    box-shadow: 0px 5px 15px 5px #0a1e31;
    width: 400px;
    padding: 40px;
    position: absolute;
    top: 40%;
    left:30%;
    transform: translate(-50%,-50%);
    /* background: rgba(255, 255, 255, 0.1); */
    text-align: center;
    
}
.box input[type="text"], .box input[type="password"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3333ff;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;
    border-radius:30px; 
    transition: 0.25s;
}
.box h1{
    text-transform: uppercase;
    color: #fffffffd;
}

.box input[type="submit"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3333ff;
    padding: 14px 10px;
    width: 100px;
    outline: none;
    color: white;
    border-radius:30px; 
    transition: 0.25s;
}
.box input[type="text"]:focus, .box input[type="password"]:focus{
    width: 200px;
    border-color: #00ff00;
}
.box input[type="submit"]:hover{
    background: #00ff00;
}